{% extends "account/base.html" %}

{% load crispy_forms_filters %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h4>{% trans "Sign In" %}</h4>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
            <p class="small">Please sign in with Facebook or previously
                created account. Need an account? <a href="{{ signup_url }}">Sign up here.</a></p>

            <div class="socialaccount_ballot">

                <form action="{% provider_login_url 'facebook' %}" method="post">
                    {% csrf_token %}
                    <button class="btn" type="submit"><img src="{% static 'icons/facebook.svg' %}" alt="Facebook Login"/></button>
                </form>

            </div>

            <div class="login-or m-4">{% trans 'or' %}</div>

            {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
            <p class="small">If you have not created an account yet, then
                <a class="" href="{% url 'temp-user-create' %}">try it</a> first!</p>
        {% endif %}

        <form class="login form-text" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="primaryAction btn btn-outline-primary" type="submit"
                    onclick="this.disabled=true; this.form.submit();">{% trans "Sign In" %}</button>
        </form>
    </div>
{% endblock %}
