{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <a href="{% url 'leaderboard-list' %}">
        <button type="button"
                class="btn btn-primary btn-sm mx-1">Back
        </button>
    </a>

    <h3 class="mt-3">{{ object.name }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th scope="col">Description</th>
            <th scope="col">Help</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Public key</td>
            <td><b>{{ object.public_key }}</b></td>
            <td>Used to retrieve scores</td>
            <td>
                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#retrieveModal">How to retrieve
                </button>

                <!-- Modal -->
                <div class="modal  modal-lg fade" id="retrieveModal" tabindex="-1" aria-labelledby="retrieveModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="retrieveModalLabel">How to retrieve scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>To retrieve scores you should make a 'GET' request.</p>
                                <p>For scores in JSON format use this link:</p>
                                <p><a class="text-decoration-none" href="{% url 'api:scores' object.public_key %}"
                                      target="_blank">{{ retrieve_url }}</a></p>
                                <p>To get the score in JSON of a specific player, 'John Doe' example:</p>
                                <p><a class="text-decoration-none"
                                      href="{% url 'api:user_score' object.public_key 'John Doe' %}"
                                      target="_blank">{{ retrieve_url_user }}</a></p>
                                <p>For scores appearing as a website use this link:</p>
                                <p><a class="text-decoration-none" href="{% url 'score-list' object.public_key %}"
                                      target="_blank">{{ retrieve_url_website }}</a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Private key</td>
            <td><b>{{ object.private_key }}</b></td>
            <td>Used to submit scores</td>
            <td>
                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#submitModal">How to submit
                </button>

                <!-- Modal -->
                <div class="modal modal-lg fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="submitModalLabel">How to submit scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>To submit a score you can make either a <b>'GET' or 'POST'</b> request.</p>
                                <p><b>You should NEVER expose your private key to anyone.</b></p>
                                <p>'POST' request is safer. In 'GET' request someone may sniff your private key from the
                                    URL.</p>
                                <p><b>Required parameters are:</b></p>
                                <ul>
                                    <li>leaderboard_private_key</li>
                                    <li>name</li>
                                    <li>points</li>
                                </ul>
                                <p>Optional parameter is:</p>
                                <ul>
                                    <li>extra</li>
                                </ul>
                                <p><b>You should distinguish your players by their name.</b> If you submit a score with the
                                    'name' parameter which already exists in the leaderboard, the higher 'points' value
                                    will be used. </p>
                                <p>URL for making a GET request to submit a score with player name 'John Doe', 1530
                                    points and 'Hello there' extra info:</p>
                                <p><a class="text-decoration-none"
                                      href="{% url 'score-add' object.private_key %}?name=JJJJohn%20Doe&points=1530&extra=Hello%20there"
                                      target="_blank">{{ submit_url_get }}?name=John%20Doe&points=1530&extra=Hello%20there</a>
                                </p>

                                <p>URL for making a POST request is: <code>{{ submit_url }}</code></p>
                                <p>Example JSON (application/json) POST request body: </p>
                                <code>
                                    {
                                    "leaderboard_private_key": "{{ object.private_key }}",
                                    "name": "John Doe",
                                    "points": 523123
                                    }
                                </code>
                                <p class="mt-3">Try making a POST request online to see how it works. Go to <a
                                        class="text-decoration-none"
                                        href="https://reqbin.com/post-online" target="_blank">https://reqbin.com/</a>
                                    and paste the URL
                                    from above in URL field. Click "Content" and paste the request body from above in
                                    JSON (application/json) field. Don't forget the curly brackets { }. The last step is
                                    to click "Send". If everything is OK you should see the response saying:
                                    "Score has been submitted.". The leaderboard remembers the user, so if you submit
                                    your score again, your score will be updated if the new one is higher than the
                                    previous one or if you change the nickname or extra info.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>

    <h4 class="mt-3">Scores (best 50):</h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Submission time</th>
            <th scope="col">Extra info</th>
        </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ score.name }}</td>
                <td>{{ score.points }}</td>
                <td>{{ score.submitted_date|timesince }} ago</td>
                <td>{{ score.extra }}</td>
                <td></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No scores for this leaderboard yet!</td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
        </tbody>
    </table>

{% endblock %}