{% for score in scores %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ score.name }}</td>
        <td>{{ score.points }}</td>
        <td>{{ score.time }}</td>
        <td>{{ score.submitted_date|timesince }} ago</td>
        <td>{{ score.extra }}</td>
        <td>{{ score.uuid }}</td>
        <td>
            <form>
                <button class="btn btn-sm btn-outline-primary" hx-post="{% url 'score-delete-by-hand' %}"
                        hx-target="#scoresld"
                        onclick="this.disabled=true;">Delete
                </button>
                <input type="hidden" name="pk" value="{{ score.pk }}">
            </form>
        </td>
        <td></td>
    </tr>
{% empty %}
    <tr>
        <td colspan="8">No scores for this leaderboard yet!</td>
    </tr>
{% endfor %}