{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <a href="{% url 'leaderboard-list' %}">
        <button type="button"
                class="btn btn-primary btn-sm mx-1">Back
        </button>
    </a>

    <h3 class="mt-3">{{ object.name }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th scope="col">Description</th>
            <th scope="col">Help</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Private key</td>
            <td><b>{{ object.private_key }}</b></td>
            <td>Use to submit or delete scores</td>
            <td>
                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#submitModal">How to submit
                </button>

                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">How to delete
                </button>

                <div class="modal modal-lg fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">How to delete scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>To delete a score you can use a 'Delete' button in your leaderboard dashboard or make
                                    a 'POST' request.</p>
                                <p>URL for making a <b>POST request</b> is: <code>{{ delete_url }}</code></p>

                                <p>JSON (application/json) POST request body scheme: </p>
                                <code>
                                    {
                                    "leaderboard_private_key": "(private_key)",
                                    "uuid": "(uuid)"
                                    }
                                </code>

                                <p class="mt-3">or:</p>
                                <code>
                                    {
                                    "leaderboard_private_key": "(private_key)",
                                    "name": "(name)"
                                    }
                                </code>

                                <p class="mt-3">For example: </p>
                                <code>
                                    {
                                    "leaderboard_private_key": "{{ object.private_key }}",
                                    "name": "John Doe"
                                    }
                                </code>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal modal-lg fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="submitModalLabel">How to submit scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>To submit a score you can make either a <b>'GET' or 'POST'</b> request.</p>
                                <p><b>You should NEVER expose your private key to anyone.</b></p>
                                <p>'POST' request is safer. In 'GET' request someone may sniff your private key from the
                                    URL.</p>
                                <p><b>Required parameters are:</b></p>
                                <ul>
                                    <li><b>leaderboard_private_key</b></li>
                                    <li><b>name</b></li>
                                    <li><b>points</b></li>
                                </ul>
                                <p>Optional parameters are:</p>
                                <ul>
                                    <li>uuid</li>
                                    <li>time</li>
                                    <li>extra</li>
                                </ul>
                                <p><b>Ideally you should distinguish your players by providing uuid (unique user
                                    identifier) - platform you are developing your game with, probably gives such
                                    function. If 'uuid' is not provided when submitting a score - then 'name' will be
                                    used to search if such score exists in the leaderboard instead of the 'uuid'. If the
                                    score is found, it'll compare the 'points' value and use the one which is higher. If
                                    not - new score will be created for this leaderboard.
                                </b>
                                </p>
                                <hr>

                                <p><b>OPTION #1</b></p>
                                <p>Submitting score with <b>GET request</b> scheme:</p>
                                <p><code>{{ submit_url_get_scheme }}?name=(name)&points=(points)&extra=(extra)</code>
                                </p>

                                <p>Example URL for making a GET request to submit a score with player name 'John Doe',
                                    1530 points, 'Hello there' extra info and 'zxcasdqwe567234' uuid:</p>
                                <p><a class="text-decoration-none"
                                      href="{% url 'score-add' object.private_key %}?name=John%20Doe&points=1530&extra=Hello%20there&uuid=zxcasdqwe567234"
                                      target="_blank">{{ submit_url_get }}?name=John%20Doe&points=1530&extra=Hello%20there&uuid=zxcasdqwe567234</a>
                                </p>

                                <p>Example URL for making a GET request to submit a score with player name 'Bob Second',
                                    2140 points, no extra info, no uuid:</p>
                                <p><a class="text-decoration-none"
                                      href="{% url 'score-add' object.private_key %}?name=Bob%20Second&points=2140"
                                      target="_blank">{{ submit_url_get }}?name=Bob%20Second&points=2140</a>
                                </p>

                                <hr>
                                <p><b>OPTION #2</b></p>
                                <p>URL for making a <b>POST request</b> is: <code>{{ submit_url }}</code></p>

                                <p>JSON (application/json) POST request body scheme: </p>
                                <code>
                                    {
                                    "leaderboard_private_key": "(private_key)",
                                    "name": "(name)",
                                    "points": "(points)",
                                    "time": "(time)",
                                    "extra": "(extra)",
                                    "uuid": "(uuid)"
                                    }
                                </code>

                                <p class="mt-3">Example JSON (application/json) POST request body: </p>
                                <code>
                                    {
                                    "leaderboard_private_key": "{{ object.private_key }}",
                                    "name": "John Doe",
                                    "points": 2345,
                                    "time": "37 seconds",
                                    "extra": "Big guy",
                                    "uuid": "333rtyuio777"
                                    }
                                </code>
                                <p class="mt-3">Try making a POST request online to see how it works. Go to <a
                                        class="text-decoration-none"
                                        href="https://reqbin.com/post-online" target="_blank">https://reqbin.com/</a>
                                    and paste the URL from above in URL field. Click "Content" and paste the request
                                    body from above in JSON (application/json) field. Don't forget the curly brackets {
                                    }. The last step is to click "Send". If everything is OK you should see the response
                                    saying: "Score has been submitted.".
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Public key</td>
            <td><b>{{ object.public_key }}</b></td>
            <td>Use to retrieve scores</td>
            <td>
                <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#retrieveModal">How to retrieve
                </button>

                <!-- Modal -->
                <div class="modal  modal-lg fade" id="retrieveModal" tabindex="-1" aria-labelledby="retrieveModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="retrieveModalLabel">How to retrieve scores</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>To retrieve scores you should make a 'GET' request.</p>
                                <p>For scores in JSON format:</p>
                                <p><code>{{ retrieve_url_scheme }}</code></p>
                                <p>To get scores of this leaderboard:</p>
                                <p><a class="text-decoration-none" href="{% url 'api:scores' object.public_key %}"
                                      target="_blank">{{ retrieve_url }}</a></p>
                                <p>To get the score(s) of a specific nickname:</p>
                                <p><code>{{ retrieve_url_user_scheme }}</code></p>
                                <p>To get the score in JSON of a player(s) called 'John Doe':</p>
                                <p><a class="text-decoration-none"
                                      href="{% url 'api:user_score' object.public_key 'John Doe' %}"
                                      target="_blank">{{ retrieve_url_user }}</a></p>

                                <p>To get the score of a specific uuid:</p>
                                <p><code>{{ retrieve_url_user_uuid_scheme }}</code></p>
                                <p>To get the score in JSON of a player(s) uuid 'zxcasdqwe567234':</p>
                                <p><a class="text-decoration-none"
                                      href="{% url 'api:user_score_uuid' object.public_key 'zxcasdqwe567234' %}"
                                      target="_blank">{{ retrieve_url_user_uuid }}</a></p>

                                <p>For scores appearing as a website use this link:</p>
                                <p><a class="text-decoration-none" href="{% url 'score-list' object.public_key %}"
                                      target="_blank">{{ retrieve_url_website }}</a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>

    <form>
        <h4 class="mt-3" hx-post="{% url 'scores-refresh-in-list' %}" hx-target="#scoresld" hx-trigger="every 3s">Scores (best 50).</h4>
        <input type="hidden" name="pk" value="{{ object.pk }}">
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Time</th>
            <th scope="col">Submission time</th>
            <th scope="col">Extra info</th>
            <th scope="col">UUID</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="scoresld">
            {% include 'leaderboards/leaderboard_detail_scores.html' %}
        </tbody>
    </table>

{% endblock %}